/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  font-family: monospace;
  color: #ffffff;
  background-color: #f4f4f4;
}

header {
  background: #000000;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 200px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

nav {
    font-family: monospace;
    font-size: 20px;
    display: flex;
    padding: 29px;
    gap: 20px;
    flex-direction: row;
}

.nav a {
  color: #ffffff;
}

.menu-icon {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
}

.hero {
  background: url(/img/fondo.jpg) no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.5em;
  background-color: rgb(0, 0, 0);
}

.hero span {
  color: #00d1b2;
}

section {
  padding: 60px 20px;
  max-width: 2000px;
  margin: auto;
  font-family: monospace;
  font-size: 15px;
}

.proyectos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.proyecto {
  background: rgb(255 255 255);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5, 5 10px #04ffda;
}



form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: #00d1b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
  color: white;
  margin-top: 40px;
}

/* Responsive */
@media(max-width: 768px) {
  .proyectos-grid {
    grid-template-columns: 1fr;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: #1a1a1a;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;
  }

  nav ul.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
